<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @course_order.status %>
</p>

<%= link_to 'Edit', edit_course_order_path(@course_order) %> |
<%= link_to 'Back', course_orders_path %>
