<%= form_with(model: teachment, local: true) do |form| %>
  <% if teachment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teachment.errors.count, "error") %> prohibited this teachment from being saved:</h2>

      <ul>
        <% teachment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
